html {
  scroll-behavior: smooth;
    font-size: 62.5%;

}

a {
  text-decoration: none;
  color: #24292E;
}

/* サイト全体の調整 */
.wrapper {
  width: 1280px;
  height: auto;
  margin: 0 auto;

}

/* ヘッダー部分 */
.profileHeader {
  display: flex;
  align-items: center;
}

/* Profileロゴ画像 */
.profileLogo {
  margin: 1rem;
  margin-left: 22rem;
}

/* ヘッダーの右側リンク */
.headerContainer {
  display: flex;
  gap: 3rem;
  margin-left: auto;
  margin-right: 22rem;
}

/* About】文字とアイコンテキスト */
.aboutContainer {
  text-align: center;
  margin-bottom: 10.8rem;
}

.aboutArea {
  margin-top: 8rem;
}

.bottomPage {
  margin-left: 1.5rem;
}

/* 【About】文字  */
.aboutTitle {
  width: 9.2rem;
  height: 3.6rem;
  font-size: 3.2rem;
  font-family: Arial;
  font-weight: bold;
  color: #383E45;
  border-bottom: solid 0.2rem;
  border-color: grey;
}

/* アイコンと一文 */
.iconTextArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.masterIcon {
  width: 10rem;
  height: 10rem;
}

/* 名前と紹介文 */
.textContainer {
  text-align: left;
  margin-bottom: 1.5rem;
}

.aboutName {
  font-size: 1.6rem;
  font-family: Arial;
  font-weight: bold;
  color: #383E45;

}

.textArea p {
  width: 39.7rem;
  height: 6rem;;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  color: #383E45;
  text-align: left;
}

/* 自転車の画像一覧 */
.bicycleContainer {
  text-align: center;
}

/* 【Bicycle文字】 */
.bicycleTitle {
  width: 11.2rem;
  height: 3.6rem;
  font-size: 3.2rem;
  font-family: Arial;
  font-weight: bold;
  color: #383E45;
  border-bottom: solid 2px;
  border-color: grey;

}

/* 画像まとめ位置調整 */
.bicycleImgArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.62rem;
  margin-top: 6rem;
  object-fit: cover;
}
/* 画像３枚にホバー効果 */
.bicycleImgArea img {
  transition: transform 0.5s ease;
}

.bicycleImgArea img:hover {
  transform: scale(1.1);
}


.imgSize {
  flex-direction: column;
}

/* 画像詳細名前 */
.expTitle {
  font-weight: bold;
  font-family: Arial;
  font-size: 1.6rem;
  color: #383E45;
}

/* 画像詳細文 */
.expText {
  font-size: 1.44rem;
  font-family: Arial;
  color: #383E45;
}

/* 著作 */
.works2020 {
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-family: Arial;
  color: #383E45;
  margin-top: 1.08rem;
}

/* 詳細ページメイン画像 */
.mainDetailVisualImg img {
  width: 84rem;
  height: 48rem;
  object-fit: cover;
}
/* 詳細ページメイン画像 位置調整*/
.mainDetailVisualImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
/* 詳細タイトル */
.detailTitle {
  margin-left: 25rem;
  margin-top: 2.6rem;
  width: 20rem;
  height: 2.8rem;
  font-family: Arial;
  font-weight: bold;
  color: #383E45;
  font-size: 2.16rem;
  text-align: left;
}
/* 詳細文　位置 */
.textDetail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
}
/* 詳細文　中身 */
.textDetail p {
  margin-left: 25rem;
  width: 77.5rem;
  font-size: 1.44rem;
  font-family: Arial;
  color: #383E45;
}
/* トップに戻るボタン位置 */
.detailButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
}
/* トップに戻るボタン位置 位置*/
.detailTopReturn {
  width: 10rem;
  height: 2rem;
  font-size: 1.44rem;
  font-family: Arial;
  text-align: left;
  color: #383E45;
  text-align: center;
  border: none;
  background: none;
}
HTML {
  font-size: calc(10 /1280 * 100vm);
}
/* メディアクエリ699.98px以下の変動 */
@media screen and (max-width:699.98px) {
  HTML{
    font-size: calc(10 /375 * 100vm);
  }
  .wrapper {
    width: 100%;
    box-sizing: border-box;
  }

  .headerContainer {
    margin-right: 1.6rem;
    margin-left: auto;
  }

  .mainVisualImg img {
    width: 100%;
    height: 60rem;
    object-fit: cover;
    align-items: center;
    justify-content: center;
  }

  .mainDetailVisualImg img {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
    justify-content: center;
  }

  .profileLogo {
    margin: 1rem;
  }

  .aboutArea {
    margin-top: 8rem;
  }

  .imgSize img {
    width: 100%;
  }

  .textArea p {
    width: 33.7rem;
    height: 13.5rem;
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin: 0;
  }

  .iconTextArea {
    flex-direction: column;
    gap: 0px;
  }

  .bicycleImgArea {
    flex-direction: column;

    gap: 8.1rem;
  }

  .imgSize {
    width: 34.5rem;
    height: 24.8rem;
  }

  .works2020 {
    margin-top: 13.8rem;
  }

  .bottomDetailPage .detailTitle {
    margin-left: 0px;
    margin: 1rem;
    margin-top: 3rem;
  }

  .textDetail p {
    margin-left: 0px;
    width: 100%;
    height: auto;
    margin: 1rem;
  }

  .textDetail {
    margin-right: 10rem;
  }
}